* {
	margin:0;
	padding:0;
}

html {
	background-color:black;
	color:white;
}

h1 {
	text-align: center;
	margin:10px 0;
}

#container {
	width:900px;
	margin:10px auto;
	border:1px solid white;
}

#container div {
	font-size: 15px;
	font-weight: bold;
}

.prompt {
	padding:10px;
	border-radius:4px;
	width:500px;
	opacity:0.8;
	min-height:200px;
	border:2px solid black;
	background-color: #bbb;
	position: absolute;
	top:10px;
	left:10px;
	color:black;
}